.mySwiper {
  width: 100%;
  height: 100%;
}

.swiperSlideHome {
  text-align: center;
  font-size: 18px;
  width: 30% !important;
  height: 100% !important;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  width: 60% !important;
  height: 100% !important;
}